<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('users.login') }}">Login</a>
        <a href="{{ url_for('users.register') }}">Register</a>
    </nav>
    <div class="container">
        <h1>Welcome to the Mathematics Assessment System</h1>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>

